.movie-card {
	display: grid;
	list-style: none;
}

.movie-card__container {
	position: relative;
	width: 300px;
}

.movie-card__link {
	display: block;
}

.movie-card__img {
	width: 300px;
	height: 168px;
}

.movie-card__about {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1px;
}

.movie-card__title {
	color: #000;
	font-size: 12px;
	font-weight: 500;
	padding-bottom: 2px;
	margin: 0;
}

.movie-card__duration {
	color: #a0a0a0;
	text-align: center;
	font-size: 11px;
	font-weight: 400;
	line-height: 10px;
	padding: 1px 6px;
	border: 3px solid #f9f9f9;
	border-radius: 3px;
	background: #f9f9f9;
}

@media screen and (min-width: 768px) {
	.movie-card__container {
		width: 339px;
	}

	.movie-card__img {
		width: 339px;
		height: 190px;
	}

	.movie-card__about {
		margin-top: 8px;
	}

	.movie-card__title {
		font-size: 13px;
	}
}

@media screen and (min-width: 1280px) {
	.movie-card__container {
		width: 360px;
	}

	.movie-card__img {
		width: 360px;
		height: 201px;
	}

	.movie-card__about {
		margin-top: 14px;
	}

	.movie-card__title {
		font-size: 14px;
	}
}

/* BUTTONS CSS */
.movie-card__delete-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background-image: url(../../images/delete.svg);
	background-color: transparent;
	width: 21px;
	height: 21px;
	border: 0;
	padding: 0;
	z-index: 5;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
	cursor: pointer;
}

.movie-card__save-button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 72px;
	height: 21px;
	border-radius: 30px;
	border: 1px solid #f9f9f9;
	background-color: #f9f9f9;
	color: #000;
	text-align: center;
	font-size: 10px;
	font-weight: 400;
	line-height: 9px;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
	cursor: pointer;
}

.movie-card__save-button-active {
	position: absolute;
	top: 10px;
	right: 10px;
	background-image: url(../../images/saved.svg);
	background-color: transparent;
	width: 21px;
	height: 21px;
	border: 0;
	padding: 0;
	z-index: 5;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
	cursor: pointer;
}

.movie-card__container:hover .movie-card__delete-button {
	opacity: 1;
}

.movie-card__container:hover .movie-card__save-button {
	opacity: 1;
}

.movie-card__container:hover .movie-card__save-button-active {
	opacity: 1;
}

@media screen and (min-width: 768px) {
	.movie-card__save-button {
		top: 14px;
		right: 14px;
	}
}
