.portfolio {
	margin: 0 14px;
}

.portfolio__title {
	color: #a0a0a0;
	font-feature-settings: "clig" off, "liga" off;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 69px 0 41px 0;
}

.portfolio__nav {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0 0 70px 0;
}

.portfolio__nav-item {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 18px;
	margin-bottom: 21px;
}

.portfolio__nav-item:last-of-type {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.portfolio__nav-link {
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	transition: opacity 0.3s ease-out;
}

.portfolio__nav-text {
	display: inline-block;
	color: #000;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -0.72px;
	margin: 0;
}

.portfolio__nav-svg {
	min-width: 12px;
	margin-bottom: 3px;
	margin-right: 4px;
}

@media screen and (min-width: 768px) {
	.portfolio {
		margin: 0 50px;
	}

	.portfolio__title {
		font-size: 18px;
		margin: 91px 0 49px 0;
	}

	.portfolio__nav {
		margin: 0 0 90px 0;
	}

	.portfolio__nav-text {
		font-size: 28px;
		line-height: 50px;
		letter-spacing: -1.12px;
	}

	.portfolio__nav-svg {
		min-width: 18px;
		margin-bottom: -4px;
		margin-right: 5px;
	}
}

@media screen and (min-width: 1280px) {
	.portfolio {
		margin: 0 70px;
	}

	.portfolio__title {
		margin: 100px 0 49px 0;
	}

	.portfolio__nav {
		margin: 0 0 125px 0;
	}

	.portfolio__nav-text {
		font-size: 30px;
		letter-spacing: -1.2px;
	}

	.portfolio__nav-svg {
		min-width: 20px;
		margin-bottom: -5px;
	}
}
