.auth {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.auth__container {
	margin: 0 auto;
}

.auth__title {
	color: #000;
	font-size: 24px;
	font-weight: 500;
	margin: 0 0 80px 43px;
}

.auth__title_signin {
	margin: 0 0 80px 80px;
}

@media screen and (min-width: 768px) {
	.auth {
		align-items: flex-start;
	}

	.auth__title {
		margin: 0 0 42px 0;
	}

	.auth__title_signin {
		margin: 0 0 42px 0;
	}
}

@media screen and (min-width: 1280px) {
	.auth__title {
		margin: 0 0 43px 0;
	}
}

/* FORM CSS */
.auth__form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.form__input-label {
	color: #a0a0a0;
	font-size: 10px;
	font-weight: 400;
	margin: 10px 30px 10px;
}

.form__input-label:first-of-type {
	margin-top: 0;
}

.form__input {
	border: 0;
	outline: none;
	width: 230px;
	min-height: 46px;
	color: #000;
	font-size: 13px;
	font-weight: 400;
	background: #f9f9f9;
	padding: 0 15px;
	margin: 0 30px 10px;
	border-radius: 8px;
}

.form__input:focus {
	border-radius: 0;
	border-bottom: 1px solid #3456f3;
}

.form__input::placeholder {
	color: #cccccc;
}

.form__error {
	color: #ff4062;
	font-size: 10px;
	font-weight: 400;
	margin-bottom: 10px;
	width: 260px;
	margin: 0 30px;
}

.form__button {
	min-width: 230px;
	min-height: 45px;
	border-radius: 3px;
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	padding: 15px 0;
	margin: 169px 30px 14px;
	border: 0;
	cursor: pointer;
	transition: opacity 0.3s ease-out;
}

.form__button_disabled {
	background: #f8f8f8;
	border: 1px solid #f8f8f8;
	color: #c2c2c2;
	cursor: default;
}

.form__button_signin {
	margin-top: 259px;
}

@media screen and (min-width: 768px) {
	.form__input-label {
		margin: 0 0 10px;
	}

	.form__input {
		width: 366px;
		margin: 0 0 10px;
	}

	.form__error {
		width: 366px;
		margin: 0 0 10px 0;
	}

	.form__button {
		min-width: 366px;
		font-size: 14px;
		margin: 69px 0 17px;
	}

	.form__button_signin {
		margin: 158px 0 15px;
	}
}

@media screen and (min-width: 1280px) {
	.form__button {
		margin: 69px 0 17px;
	}

	.form__button_signin {
		margin: 159px 0 15px;
	}
}

/* link to login page styles */
.auth__login {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.auth__login-text {
	margin: 0;
	color: #a0a0a0;
	font-size: 12px;
	font-weight: 400;
}

.auth__login-link {
	color: #000;
	font-size: 12px;
	font-weight: 400;
	margin-left: 7px;
	text-decoration: none;
	transition: opacity 0.3s ease-out;
}

@media screen and (min-width: 768px) {
	.auth__login {
		margin-bottom: 232px;
	}

	.auth__login-text {
		font-size: 14px;
	}

	.auth__login-link {
		font-size: 14px;
		margin-left: 6px;
	}
}

/* link to sign up page styles */
.auth__signup {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.auth__signup-text {
	margin: 0;
	color: #a0a0a0;
	font-size: 12px;
	font-weight: 400;
}

.auth__signup-link {
	color: #000;
	font-size: 12px;
	font-weight: 400;
	margin-left: 7px;
	text-decoration: none;
	transition: opacity 0.3s ease-out;
}

@media screen and (min-width: 768px) {
	.auth__signup {
		margin-bottom: 232px;
	}

	.auth__signup-text {
		font-size: 14px;
	}

	.auth__signup-link {
		font-size: 14px;
		margin-left: 8px;
	}
}

@media screen and (min-width: 1280px) {
	.auth__signup {
		margin-bottom: 70px;
	}
}
